/* body{
    background-color: bisque;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.center{
    text-align: center;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    font-size: 35px;
    font-weight: 200px;
}
.orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(/images/developer.png),url(/images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 78%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-content h2{
    max-width: 585px;
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}

.banner-image{
    max-width: 585px;
    vertical-align: middle;
}

#about{
padding-top: 130px;
}

.about-container{
    width: 78%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    background-color: #FFF8F3;
}

.about-info{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.about-info .info-card p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 5px;
}
.info-card h4{
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
}

#skill{
    padding-top: 130px;

}

.skill-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.skill-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.skill-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
.skill-container{
    width: 78%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box{
    display: flex;
    gap: 24px;

}
.skill-card{
    padding: 30px;
    /* border: 1px solid black; */
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #0000004d;


}
.skill-card image{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: #474747;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

#resume{
    padding-top: 130px;

}

.resume-container{
    width: 78%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0px;
}
.resume-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #474747;
}
.resume-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0px;

}
.footer-container{
    width: 78%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-social{
    max-width: 561px;
    
}
.footer-header{
     font-size: 35px;
     font-weight: bold;
     color: #181818;
}
 .footer-container p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-top: 20px;
    margin-bottom: 30px;
 }

 .icons a{
     margin-right: 24px;
 }

 .footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
 }